h1 {
    font-weight: bold;
    text-align: center;
    color: green;
    font-size: 40px;
  }

  img {
      max-height: 300px;
      max-width: 300px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
  }